.h-titles {
  margin-bottom: 15px;
}

.new-purchase-title {
  color: #57038b;
  text-align: center;
}

.btn-primary {
  margin: 0 auto;
}

.btn-links {
  display: flex;
  height: 50px;
  align-items: center;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  background-color: #ffffff;
}
