<h1>New Purchase</h1>

<!--
<%= simple_form_for [@user, @purchase] do |f| %>
  <%= f.input :payment_method, collection: ["Credit Card", "Debit Card"] %>
  <%= f.submit "Submit purchase", class: "btn btn-primary" %>
<%= end %>
-->
