<h1>Your Purchases</h1>

<% if @purchases.any? %>
  <ul>
    <% @purchases.each do |purchase| %>
      <li>
        <strong>Gift:</strong> <%= purchase.gift.name %><br>
        <strong>Payment Method:</strong> <%= purchase.payment_method %><br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No purchases found.</p>
<% end %>
