<h1>Your Events</h1>

<% if @events.any? %>
  <ul class="list-group">
    <% @events.each do |event| %>
      <li class="list-group-item">
        <%= link_to event.name, event_path(event), class: "text-decoration-none" %>
        <p>Date: <%= event.date %></p>
        <p>Event Code: <%= event.code %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No events found.</p>
<% end %>

<%= link_to 'Create Event', new_user_event_path(@user), class: 'btn btn-primary' %>
