<div class="container my-5">
  <div class="card-trip">
    <h1> Regalo</h1>
    <p>Nombre: <%= @gift.name %></p>
    <p>Descripción: <%= @gift.description %></p>
    <p>Precio: <%= @gift.price %></p>
  </div>
</div>
