<div class="uk-container">
  <h1 class="uk-heading-medium">Moon Gift</h1>

  <% if Event.all.any? %>
    <%= form_tag(event_path(Event.all.first), method: :get, class: "uk-form-stacked") do %>
      <div class="uk-margin">
        <%= text_field_tag :code, placeholder: "Enter event code", class: "uk-input" %>
      </div>
      <%= submit_tag "Search Event", class: "uk-button uk-button-primary" %>
    <% end %>
  <% end %>
  <div>
    <%= link_to 'Create Event', new_event_path(@user), class: 'uk-button uk-button-primary' %>
  </div>
</div>
